Write a program which accepts month's name as input and display the number of days in the month as output

In [ ]:
month=input("Enter the month ")
Dict={"Jan":31, "Feb":28, "Mar":31, "Apr":30, "May":31, "June":30, "July":31, "Aug":31, "Sep":30, "Oct":31, "Nov":30, "Dec":31}
for i in Dict:
  if i==month:
    print(Dict[i])

Enter the month Feb
28

Take any word as input from the user and count the number of vowels in the word

In [ ]:
word=input("Enter the word ")
vowels=['a', 'e', 'i', 'o', 'u']
count=0
for i in word:
  if i in vowels:
    count=count+1
    continue
print(count)

Enter the word querty
2

Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [ ]:
l1=[1, 2, 4, 7, 9, 23, 45, 103, 19]
Lodd=[]
Leven=[]
for i in l1:
  if i%2==0:
    Leven.append(i)
  else:
    Lodd.append(i)
print(Leven)
print(Lodd)

[2, 4]
[1, 7, 9, 23, 45, 103, 19]

Write a program that appends datatype of elements from a list to a separate list

In [ ]:
L1=[1,3,56, 'Hello', 23.45, "World", 12.34, "Sajeeth", 1.45, "Change", "seen", 0.0003, 100]
Lchar=[]
LFloat=[]
LInt=[]
for i in L1:
  if type(i)==int:
    LInt.append(i)
  elif type(i)==float:
    LFloat.append(i)
  else:
    Lchar.append(i)
print(Lchar)
print(LFloat)
print(LInt)

['Hello', 'World', 'Sajeeth', 'Change', 'seen']
[23.45, 12.34, 1.45, 0.0003]
[1, 3, 56, 100]

Take a number as input from the user and find its factorial

In [ ]:
num=int(input("Enter the Number "))
itemp=1
for i in range(1, num+1):
  itemp=i*itemp
print("The Factorial of the number is ",itemp)

Enter the Number 8
The Factorial of the number is  40320

Write a program to display only those numbers from a list that satisfies the following conditions:

1. The number must be divisible by 7

2. If the number is greater than 140 then skip it and move to the next number in the list

3. If the number in the list is greater than 630 then stop the loop

In [ ]:
L1=[1, 34, 14, 32, 67, 165, 750, 23, 56, 200, 187, 230, 507, 234, 659, 745, 109, 567, 700, 1000]
Ldiv7=[]
Lgt140=[]
Lgt630=[]
for i in L1:
  if i%7==0:
    Ldiv7.append(i)
for i in L1:
  if i>140:
    continue
  Lgt140.append(i)
for i in L1:
  if i>630:
    break
  Lgt630.append(i)

print(Ldiv7)
print(Lgt140)
print(Lgt630)

[14, 56, 567, 700]
[1, 34, 14, 32, 67, 23, 56, 109]
[1, 34, 14, 32, 67, 165]